@font-face {
  font-family: 'PTSans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PTSans_Narrow_Regular.woff2") format("woff2"), url("../fonts/PTSans_Narrow_Regular.woff") format("woff");
}

@font-face {
  font-family: 'PTSans Narrow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PTSans_Narrow_Bold.woff2") format("woff2"), url("../fonts/PTSans_Narrow_Bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #f5f9fc;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
  cursor: pointer;
}

button {
  padding: .4rem .8rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.1rem;
  line-height: 1.5rem;
  border: none;
  outline: none;
  border-radius: .25rem;
  cursor: pointer;
}

.wrrapper {
  display: -webkit-box;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

/* ======= Section - navbar =======*/
.navbar-custom {
  display: -webkit-box;
  display: flex;
  background-color: #38414a;
  box-shadow: 0 0 25px 0 rgba(154, 161, 171, 0.15);
  padding: 0.5rem 0;
  padding-left: 3rem;
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 100;
}

.logo img {
  width: 180px;
  height: 100%;
}

.button-new-appeal {
  margin-left: 4rem;
  border: 1px solid #4631ff;
  background-color: #4631ff;
}

.button-new-appeal:hover {
  background-color: #4c1fee;
  border-color: #4c1fee;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.button-new-appeal span {
  font-weight: normal;
  margin-left: 0.4rem;
  vertical-align: middle;
  font-size: 2.4rem;
}

.button-new-appeal:active {
  background-color: #8275ee;
  box-shadow: 0 0 2px 2px #4733fa;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

/* ======= Main =======*/
.page-main {
  width: 100%;
  height: 100vh;
  background-color: #f3f7fa;
}

/* ======= Filter-nav =======*/
.left-filter-menu {
  position: fixed;
  width: 260px;
  height: calc(100%-50px);
  margin-top: 50px;
  padding: 10px 10px;
  overflow-y: hidden;
  background-color: #FFF;
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 1px -1px 4px rgba(63, 63, 68, 0.04);
}

.filter-list {
  padding: 0;
  list-style: none;
  font-size: 16px;
}

.filter-list-item {
  margin-top: 20px;
}

.filter-list-item label {
  font-weight: bold;
}

.select2 {
  width: 100%;
  max-width: 240px;
}

.btn-wrapper {
  display: -webkit-box;
  display: flex;
  margin-top: 30px;
}

.btn-filter {
  position: relative;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
}

.button-decline {
  margin-right: auto;
  background-color: #a50404d4;
}

.button-decline:active {
  background-color: #f34646d4;
  box-shadow: 0 0 2px 2px #f31b1b;
}

.button-apply {
  background-color: #0c740c;
}

.button-apply:active {
  background-color: #32b632;
  box-shadow: 0 0 2px 2px #0d9736;
}

/* ======= Content-page =======*/
.content-page {
  height: calc(100vh-50px);
  margin-left: 260px;
  margin-top: 50px;
  padding: 20px;
  overflow: hidden;
}

.content {
  height: 100%;
  padding-bottom: 3rem;
  background-color: #FFF;
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 1px -1px 4px rgba(63, 63, 68, 0.04);
  border-radius: 3px;
}

.data-table {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.data-table-body {
  height: calc(100% - 134px);
  overflow-x: auto;
}

.table-head thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 0;
  text-align: left;
}

.table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

.table thead tr th {
  padding: 18px 10px;
  border-bottom: 1px solid #848484;
  font-size: 18px;
}

.table thead tr th > * {
  display: block;
}

.table thead tr th:last-child {
  position: relative;
  padding-right: 30px;
}

.table tbody tr td {
  padding: 8px 10px;
  border-bottom: 1px solid #848484;
  text-align: left;
}

.table tbody tr td .date {
  font-size: 12px;
}

.table tbody tr td .phone-number {
  font-size: 12px;
}

.table tbody tr td .item-ref {
  color: #343a40;
  text-decoration: underline;
}

.table tbody tr td .item-ref:hover {
  color: #00bdec;
}

.table tbody tr td .item-ref:active {
  color: #c70000;
}

.table tbody tr td > * {
  display: block;
}

.wrapper-search {
  display: -webkit-box;
  display: flex;
  position: relative;
  padding: 5px 10px;
  background-color: #4a4a4a;
  border-radius: 10px;
}

.wrapper-search svg {
  position: relative;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  fill: #0086ff;
  z-index: 10;
}

.wrapper-search::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 45px;
  border-radius: 0px 10px 10px 0px;
  background-color: #4a4a4a;
  z-index: 1;
}

.input-search {
  width: calc(100% - 40px);
  padding: 4px 2px;
  padding-left: 8px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font-size: 1rem;
  line-height: 2rem;
  box-shadow: inset 0px 0px 5px 1px #399fce;
}

.cell-relat {
  position: relative;
  padding-right: 20px !important;
}

.cell-relat .days {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 38px;
}

.toggler-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
}

.toggler-wrapper .toggler {
  width: 1px;
  height: 1px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border: 10px solid transparent;
  background-color: transparent;
}

.toggler-wrapper .top-tgl {
  border-bottom: 15px solid #343a40;
}

.toggler-wrapper .bot-tgl {
  border-top: 15px solid #343a40;
}

.blu {
  color: #1c69b7 !important;
  font-weight: bold;
}

.grn {
  color: green !important;
  font-weight: bold;
}

.rd {
  color: #df1111 !important;
  font-weight: bold;
}

.bg-blu {
  width: 120px;
  border-radius: 10px;
  background-color: #195a9c !important;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.bg-grn {
  width: 120px;
  border-radius: 10px;
  background-color: #1e781e !important;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.bg-rd {
  width: 120px;
  border-radius: 10px;
  background-color: #a11111 !important;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

/* ======= Colgroup =======*/
.col {
  width: 100%;
}

.number-col {
  width: 100px;
}

.stage-col {
  width: 130px;
}

/* ======= Colgroup =======*/
.content-appeal {
  max-width: 960px;
  height: calc(100vh - 50px);
  margin: 50px auto;
  margin-bottom: 0;
  padding: 20px 0;
}

.content-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-bottom: 1rem;
  background-color: #FFF;
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 1px -1px 4px rgba(63, 63, 68, 0.04);
  border-radius: 5px;
}

/* ======= Top-block =======*/
.content-block {
  padding: 0 1rem;
}

.content-top-block {
  width: 100%;
  height: 15%;
}

.content-title {
  margin: 0;
  line-height: 2rem;
  border-bottom: 2px solid #b8b8b8;
}

.table-appeal tbody tr td {
  width: 100%;
  padding: 2px 4px;
  padding-top: 6px;
  vertical-align: top;
}

.table-appeal tbody tr td:nth-child(2) {
  width: 240px;
}

.table-appeal tbody tr td:last-child {
  position: relative;
  width: 160px;
  text-align: left;
}

.table-appeal tbody tr td .date-term {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
}

/* ======= Left-block =======*/
.content-left-block {
  width: 30%;
  height: 85%;
  border-right: 2px solid #dbd8d8;
  overflow-y: auto;
}

.services-list {
  height: 100%;
  margin: 0 10px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.services-list-itme {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 15px;
  padding: 1rem;
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 1px -1px 4px rgba(63, 63, 68, 0.04);
  border-radius: 5px;
  background-color: #f3f7fa;
}

.services-list-itme h3 {
  margin: 0;
}

.services-list-itme:hover {
  background-color: #6658dd;
  cursor: pointer;
  color: #FFF;
}

.services-list-itme:active {
  background-color: #69c2f5;
  box-shadow: 0px 0px 10px 2px rgba(22, 22, 223, 0.35);
  cursor: pointer;
  color: #FFF;
}

/* ======= Right-block =======*/
.content-right-block {
  width: 70%;
  height: 85%;
}

.right-block-head {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 10%;
  border-bottom: 2px solid #dbd8d8;
}

.right-block-head .btn-next-stage {
  padding: .3rem;
  font-size: 12px;
  background-color: #6658dd;
}

.right-block-head .btn-next-stage:hover {
  background-color: #4c1fee;
  border-color: #4c1fee;
}

.right-block-head .btn-next-stage:active {
  background-color: #db2c0d;
  box-shadow: 0 0 3px 1px #cc1f00;
}

.right-block-head h2 {
  margin: 0;
}

.right-block-head .flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.right-block-head span {
  font-size: 16px;
  color: #b3b3b6;
}

.right-block-nav {
  height: 16%;
  margin-top: 2%;
}

.nav-tabs-svg {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: #7c788a;
  text-align: center;
  list-style: none;
}

.nav-tabs-svg .tab-item-svg {
  position: relative;
  width: 120px;
  padding: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-tabs-svg .tab-item-svg:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: -30px;
  width: 4px;
  background-color: #dbd8d8;
  border-radius: 5px;
}

.nav-tabs-svg .tab-item-svg:hover {
  border-radius: 6px;
  background-color: #a5c7fa;
  box-shadow: 0 0 3px 2px #8fb8f5;
  color: #fff;
}

.nav-tabs-svg .tab-item-svg:active {
  border-radius: 6px;
  background-color: #8df78a;
  box-shadow: 0 0 3px 2px #6aff65;
  color: black;
}

.right-block-body {
  height: 72%;
}

.tab-content-block {
  display: none;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.form-note {
  position: relative;
  padding-top: 5px;
}

.blcok-comments {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.blcok-comments .comment {
  max-width: 300px;
  margin-bottom: 15px;
  padding: 10px 5px;
  border-radius: 8px;
  border: 3px solid #685bdb;
}

.blcok-comments .comment time {
  font-size: 12px;
  font-weight: bold;
  color: #7e7e7e;
}

.blcok-comments .comment p {
  margin: 0;
  font-size: 14px;
  color: #000000;
}

.blcok-comments .right-comment {
  margin-left: auto;
  margin-right: 10px;
  border-right: transparent;
  box-shadow: -5px 1px 3px rgba(63, 63, 68, 0.15), 1px -1px 4px rgba(63, 63, 68, 0.04);
}

.blcok-comments .left-comment {
  margin-right: auto;
  margin-left: 10px;
  border-left: transparent;
  box-shadow: 5px 1px 3px rgba(63, 63, 68, 0.15), 1px -1px 4px rgba(63, 63, 68, 0.04);
}

.blcok-enter-comment {
  display: -webkit-box;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin: 0;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #f1f1ea;
  box-shadow: 1px 3px 1px #faf5f5;
  border-radius: 10px;
}

.field-enter-comment {
  display: block;
  width: 95%;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 24px;
  outline: #ffea2a;
  border: none;
  border-radius: 20px;
  background-color: #fff;
}

.btn-enter-comment {
  width: 45px;
  height: 35px;
  background-color: transparent;
}

.btn-enter-comment svg {
  fill: #0664f1;
}

.active {
  display: block;
}

.check {
  border-bottom: 4px solid #322080;
  border-radius: 4px;
}

.block-documents {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.block-documents h2 {
  margin: 0;
}

.block-documents p {
  margin: 0;
  margin-left: 30px;
  padding-top: 5px;
  color: #ff1111;
}

.block-documents p svg {
  vertical-align: bottom;
  fill: #0077ff;
}

/* ======= Accordion =======*/
.container-documents {
  width: 90%;
  margin: 50px auto;
}

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

/* ======= Accordion =======*/
.reference-list {
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.flex-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.flex-wrapper svg {
  vertical-align: bottom;
}
